@page
@*@model PartyFinderWEB.Areas.Identity.Pages.Account.Manage.ChangeProfileModel*@
@{
}
@{
    ViewData["Title"] = "Manage Profile";
    ViewData["ActivePage"] = ManageNavPages.ChangeProfile;
}

<h3>@ViewData["Title"]</h3>
@*<partial name="_StatusMessage" for="StatusMessage" />*@
