@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 
    style=font-weight: bold;"
    class="display-4">&#10024<span style="color:Gold">Velkommen</span>
    <span style="color:RoyalBlue ">til</span>
    <span style="color:Fuchsia ">Party</span>
    <span style="color:DarkMagenta ">Finder</span>&#10024 </h1>
    
    
</div>

<html>
<head>

<style>
body  {
    background-image: url("..//images/homePage/loginpageimage.jpg");
    background-color: #000000;
    /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

</style>

</head>

<body>
    <div class="center">
    <button style= "font-weight: bold;" class="button button1">OPRET BRUGER</button>
     </div>
    <style>
.button {
  border: none;
  color: white;
  padding: 16px 60px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}
.center {
  margin: 0;
  position: absolute;
  top: 45%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.button1 {
  background-color: DarkMagenta; 
  color: Gold; 
  border: 2px solid Fuchsia;
}

.button1:hover {
  background-color: Fuchsia;
  color:DarkMagenta;
}

.button1 {border-radius: 30px;}

</style>

</body>
</html>