@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Home Page";
}

<body class="HomePageBackground">

<div class="text-center">
    <h1 class="HomePageh1">PartyFinder</h1> 
</div>

    <div class="left">
    <button class="button1" onclick="welcome()">OPRET BRUGER</button>
     </div>
     <div class="right">
    <button class="button2" onclick="loginPage()">LOGIN</button>
     </div>
     

</body>


