@model PartyFinderWEB.Models.MatchViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var id = @Model?.Id;
    var eventName = "EventName: " + @Model?.EventName;
    var capacity = "EventCapacity: " + @Model?.CalculateCount().ToString() + "/" + @Model?.EventCapacity;
    var start = "Start: " + @Model?.StartDateTime;
    var end = "End: " + @Model?.EndDateTime;
    var desc = "Description: " + @Model?.Description;
    var calc = @Model?.CalculateCount().ToString();

    string? status = null;
    if (@Model == null)
    {
        status = "There are currently no events.";
    }
}

@if (@Model == null)
    {
        <h1 class=seh1 >@status</h1>
    }
<br />
@eventName
<br />
@capacity
<br />
@start
<br />
@end
<br />
@desc
<br />


<div class="testForms">
    @using (Html.BeginForm("LikeOrDislike", "Match", new { @id, isMatched = true }, FormMethod.Post))
    //@Model Event
    {
        if (status == null)
        {
            <input class="like" type="submit" value="Like" />
        }
    }
</div>
<div class="testForms">
    @using (Html.BeginForm("LikeOrDislike", "Match", new { @id, isMatched = false }, FormMethod.Post))
    //@Model Event
    {
        if (status == null)
        {
            <input class="dislike" type="submit" value="Disike" />
        }
    }
</div>